/* navigation bar style */
li a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
}

li a:hover{
      background-color: darkgoldenrod;
      color: white;
}
button span:hover{
       background-color: darkgoldenrod;
       color: white;
}

/* home section style */
#img1 {
      border-radius: 100%;
}
#img1:hover {
      box-shadow: 12px -12px darkgoldenrod;
}
h1 {
    color: darkgoldenrod;
}
#btn a:hover{
      background-color: darkgoldenrod;
}

/* about section style */
#img2 {
      border-radius: 8%;
}
#img2:hover {
      box-shadow: 12px -12px darkgoldenrod;
}
